.ribbon {
  font-size: 24px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
 
  width: 90%;
     
  position: relative;
  background: #a396a2;
  border-radius: 5px;
  color: #060c7f;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px #000;
  font-family: sans-serif;
  padding: 0.75em 0em; /* Adjust to suit */
  margin: 2em auto 0; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
 }
 .ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  top: -1em;
  border: 1.25em solid #948893;
  z-index: -1;
 }
 .ribbon:before {
  left: -.75em;
  border-right-width: 1.5em;
  border-radius: 5px;
 }
 .ribbon:after {
  right: -.75em;
  border-left-width: 1.5em;
  border-radius: 5px;
 }
 .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  top: -1em;
 }
 .ribbon .ribbon-content:before {
  border-color: transparent transparent transparent #857a84;
  right: 0;
  border-width: 1em 0 0 2em;
 }
 .ribbon .ribbon-content:after {
  border-color: transparent #857a84 transparent transparent;
  left:0;
  border-width: 1em 2em 0 0;
 }